* {
  font-family: "josefin sans";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #777;
}
body a {
  color: #777;
  text-decoration: none;
  transition: 0.4s;
}
body ul {
  list-style-type: none;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1180px;
  padding: 1.5rem;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .header {
    justify-content: center;
  }
}
@media (max-width: 650px) {
  .header {
    padding: 1.1rem;
  }
}
.header-brand {
  color: #fff;
  font-size: 3rem;
}
.header-navbar ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 650px) {
  .header-navbar ul {
    display: none;
  }
}
.header-navbar ul li {
  margin: 0 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.header-navbar ul li .active {
  color: #20c997;
}
.header-navbar ul li a:hover {
  color: #20c997;
}
.header-social-media ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
@media (max-width: 1000px) {
  .header-social-media ul {
    display: none;
  }
}
.header-social-media ul li {
  margin: 0 1rem;
}
.header-social-media ul li a:hover {
  color: #fff;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1180px;
  padding: 1.5rem;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2em;
}
@media (max-width: 1000px) {
  .gallery {
    justify-content: center;
  }
}
.gallery-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 31%;
  min-width: 300px;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.5s;
}
.gallery-card:hover {
  background-size: 110%;
  filter: grayscale(0%);
}
.gallery-card-title {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
  color: #fff;
}
.gallery-card-btn {
  padding: 0.6rem 2rem;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}
.gallery-card-btn:hover {
  background-color: #fff;
  color: #000;
}
.gallery #card-1 {
  background-image: url("../imagens/animais.jpg");
}
.gallery #card-1:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagens/animais.jpg");
}
.gallery #card-2 {
  background-image: url("../imagens/arquitetura.jpg");
}
.gallery #card-2:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagens/arquitetura.jpg");
}
.gallery #card-3 {
  background-image: url("../imagens/cidade.jpg");
}
.gallery #card-3:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagens/cidade.jpg");
}
.gallery #card-4 {
  background-image: url("../imagens/decoracao.jpg");
}
.gallery #card-4:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagens/decoracao.jpg");
}
.gallery #card-5 {
  background-image: url("../imagens/esportes.jpg");
}
.gallery #card-5:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagens/esportes.jpg");
}
.gallery #card-6 {
  background-image: url("../imagens/natureza.jpg");
}
.gallery #card-6:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagens/natureza.jpg");
}
.gallery #card-7 {
  background-image: url("../imagens/paisagem.jpg");
}
.gallery #card-7:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagens/paisagem.jpg");
}
.gallery #card-8 {
  background-image: url("../imagens/pessoas.jpg");
}
.gallery #card-8:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagens/pessoas.jpg");
}
.gallery #card-9 {
  background-image: url("../imagens/refeicoes.jpg");
}
.gallery #card-9:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagens/refeicoes.jpg");
}

footer {
  text-align: center;
  padding: 2rem 0;
}
footer span {
  font-weight: bold;
  color: #20c997;
}/*# sourceMappingURL=index.css.map */